*{
    box-sizing: border-box;
  }
  body{
    margin: 0%;
    font-family: sans-serif;
}

/* Header */
header{
    height: 10vh;
    padding: auto;
    position: relative;
    
}
header img{
    height: 10vh;
}
header h1{
    display: inline-block;
    margin: 0%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Main */
main{
    background-color: rgb(246, 248, 249);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Sections container */
.sections-container{
    height: 100%; 
    background-color: white;
    border-radius: 1%;
}

/* Nav */
nav{
    height: 8vh;
    padding: 10px;
    border-bottom: solid 5px rgb(246, 248, 249);
}

.button{
    height: 100%;
    display: inline-block;
    border-radius: 5%;
    padding: 4px;
    font-size: auto;
    border: solid;
}

.add-task{
    background-color: rgb(77,174,238);
    border-color: rgb(77,174,238);
    color: white;
}
.add-section{
    border-color: rgb(197, 203, 208);
    color: rgb(197, 203, 208);
}


/* Tasks */
.task-list-container{
    height: 100%;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

section h3{
    margin: 0%;
}

.green-check{
    color: green;
    border: solid;
    border-radius: 50%;
    margin-right: 10px;
}
.red-cross{
    color: red;
    border: solid;
    border-radius: 50%;
    margin-right: 10px;
}

.type-of-task{
    padding:5px;
    border-radius: 10%;
    color: white;
    font-size: smaller;
    margin-left: 10px;
}

.editorial{
    background-color: rgb(77,174,238);
}

.q1-goals{
    background-color: rgb(156,116,223);
}

.recruiting{
    background-color: rgb(104, 191, 169);
}

.mobile{
    background-color: rgb(240, 157, 64);
}

.sales{
    background-color: rgb(176, 199, 56);
}

.website{
    background-color: rgb(214, 101, 160);
}

