*{
    box-sizing: border-box;
  }
  body{
    margin: 0%;
}

/* Header */
header{
    height: 10vh;
    padding: auto;
    position: relative;
    
}
header img{
    height: 10vh;
}
header h1{
    display: inline-block;
    margin: 0%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Main */
main{
    height: 90vh;
    background-color: rgb(246, 248, 249);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Sections container */
.sections-container{
    height: 100%; 
    background-color: white;
    border-radius: 1%;
}

/* Nav */
nav{
    height: 8vh;
    padding: 10px;
    border-bottom: solid 5px rgb(246, 248, 249);
}

.button{
    height: 100%;
    display: inline-block;
    border-radius: 5%;
    padding: 4px;
    font-size: auto;
    border: solid;
}

.add-task{
    background-color: rgb(77,174,238);
    border-color: rgb(77,174,238);
    color: white;
}
.add-section{
    border-color: rgb(197, 203, 208);
    color: rgb(197, 203, 208);
}




