body{
    margin: 0%;
}

/* Header */
header{
    height: 10vh;
    padding: auto;
    position: relative;
    
}
header img{
    height: 10vh;
}
header h1{
    display: inline-block;
    margin: 0%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Main */
main{
    background-color: lightgrey;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Sections container */
.sections-container{
    height: inherit;
    background-color: white;
    border-radius: 1%;
}








main{
    height: 90vh;
}


